<div class="container justify-content-center align-items-center" style="height: 100vh;">
  <div class=" border p-5 rounded">
    <h2 class="text-center mb-4">Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <!-- Avatar Upload Field -->
      <div class="mb-3 text-center">
        <%= f.file_field :avatar, class: 'form-control' %>
      </div>

      <!-- Display Current Avatar -->
      <div class="mb-3 text-center">
        <% if current_user.avatar.attached? %>
          <%= image_tag(current_user.avatar, style: 'width:130px; height:130px;', class: 'rounded ') %>
        <% end %>
      </div>

      <!-- Email Field -->
      <div class="mb-3">
        <%= f.label :email, class: 'form-label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', required: true, placeholder: "Enter your email" %>
      </div>

      <!-- Password Field (Optional) -->
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <%= f.label :password, class: 'form-label' %>
              <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: "Enter a new password" %>
              <% if @minimum_password_length %>
                <small class="text-muted">(<%= @minimum_password_length %> characters minimum)</small>
              <% end %>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <%= f.label :password_confirmation, class: 'form-label' %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: "Confirm your new password" %>
            </div>
          </div>
        </div>
      

      <!-- Password Confirmation Field -->
      

      <!-- Current Password Field (for confirmation) -->
      <div class="mb-3">
        <%= f.label :current_password, class: 'form-label' %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control', placeholder: "Enter your current password" %>
      </div>

      <!-- Submit Button -->
      <div class="text-center">
        <%= f.submit "Update", class: 'btn btn-primary btn-block w-100' %>
      </div>
    <% end %>

    <!-- Cancel Account Section -->
    <div class="text-center mt-4">
      <div>
       <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %>
      </div>
    </div>

    <!-- Back Link -->
    <div class="text-center mt-4">
      <%= link_to "Back", :back, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
