<div id="<%= dom_id(post) %>">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Image/Video</th>
        <th>Body</th>
        <th>Posted By</th>
        <th>Posted At</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <% if post.image.attached? %>
            <% if post.image.content_type.start_with?('image') %>
              <%= image_tag(post.image, width: "200", height: "100", class: 'img-fluid') %>
            <% elsif post.image.content_type.start_with?('video') %>
              <%= video_tag(post.image, controls: true, width: "200", height: "100", class: 'img-fluid') %>
            <% end %>
          <% else %>
            <p>No media attached</p>
          <% end %>
        </td>
        <td><%= post.body %></td>
        <td><%= post.user.username %></td>
        <td><%= post.created_at.strftime("%-l:%M%P, %B %-d, %Y") %></td>
        <td><%= link_to "View", post %>
            <%= render partial: "likes/button", locals: { post: post } %></td>
      </tr>
    </tbody>
  </table>
</div>





